.filter-page-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header h2 {
    font-size: 26px;
    margin: 0;
}

.reset-btn {
    padding: 6px 14px;
    border: 1px solid #999;
    background: #fff;
    cursor: pointer;
    border-radius: 8px;
}
.reset-btn:hover {
    background: #f1f1f1;
}

.filter-section {
    margin-bottom: 22px;
}

.filter-section h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.filter-section label {
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
}

#gamesListArea {
    margin-top: 35px;
}
